// Niche scenarios !!!!!!!!!!!!!!!!!!!!!!!!!!!!
@media (max-width: 550px) {
  // Header Search bar scale down
  .header {
    .header-content {
      padding: 0px;
      .sr-flex {
        .s-bar {
          min-width: unset;
          width: 60%;
        }
      }
    }
  }
  // Section Code buttons 100%
  #code-editor {
    .code-editor-content {
      span {
        a {
          width: 92%;
        }
      }
      a {
        width: 92%;
      }
    }
  }
}

@media (max-width: 768px) {
  // First Section / Left container headings from 100px to 60px
  #sections {
    .section-a-1,
    .section-a-2,
    .section-a-3,
    .section-a-4,
    .section-a-5 {
      .section-wrap {
        .section-content-a {
          .section-heading {
            font-size: 60px;
            font-weight: 900;
          }
        }
      }
    }
  }

  h1 {
    font-size: 60px !important;
  }

  // Header Title font scaled down x1
  .header {
    .header-content {
      .title-header {
        font-size: 60px !important;
      }
    }
  }
}

// Display None: Btn "PRO"
@media (max-width: 1300px) {
  #nav {
    .nav-wrap {
      .nav-right {
        a:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
// Display None: Btn "PRO" + "Get Certified"
@media (max-width: 1200px) {
  #nav {
    .nav-wrap {
      .nav-right {
        a:nth-child(4),
        a:nth-child(5) {
          display: none;
        }
      }
      .nav-left {
        ul {
          li:last-child {
            display: none;
          }
        }
      }
    }
  }
}

// Display None: Btn "PRO" + "Get Certified" + "Free Website"
@media (max-width: 950px) {
  #nav {
    .nav-wrap {
      .nav-right {
        a:nth-child(4),
        a:nth-child(5),
        a:nth-child(6) {
          display: none;
        }
      }
    }
  }
}

// Display None: Btn "PRO" + "Get Certified" + "Free Website" + Menu ON
@media (max-width: 860px) {
  #nav {
    .nav-wrap {
      .nav-right {
        a:nth-child(4),
        a:nth-child(5),
        a:nth-child(6) {
          display: none;
        }
      }
      .nav-left {
        ul {
          li {
            display: none;
          }
          .menu-mobile {
            display: block;
          }
        }
      }
    }
  }
}

// Nav First Icon OFF + BTN Log in scale down
@media (max-width: 430px) {
  #nav {
    .nav-wrap {
      .nav-right {
        a:nth-child(1) {
          display: none;
        }
        // Log in button scale down
        .btn:last-child {
          min-width: unset !important;
          width: 48px !important;
          line-height: 2;
          font-size: 14px;
        }
      }
    }
  }
}
// Header Search bar button scale down
@media (max-width: 430px) {
  .header {
    .header-content {
      padding: 0px;
      .sr-flex {
        .btn-sr {
          min-width: unset;
          width: 20%;
        }
      }
    }
  }
}

// Nav ALL Icons OFF + BTN Login scale down
@media (max-width: 380px) {
  #nav {
    .nav-wrap {
      .nav-right {
        a:not(:last-child) {
          display: none;
        }
        // Log in button scale down
        .btn:last-child {
          min-width: unset !important;
          width: 48px !important;
          line-height: 2;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1364px) {
  // Sections Left Right padding reset
  #sections {
    .section-a-1,
    .section-a-2,
    .section-a-3,
    .section-a-4,
    .section-a-5 {
      .section-wrap {
        grid-template-columns: 0.5fr 1fr;
        .section-content-a {
          padding-right: 42px;
        }
      }
    }
  }
}

// Tablet !!!!!!!!!!!!!!!!!!!!!!!!!!!!
@media (max-width: 992px) {
  // Section First A-1 to A-5
  #sections {
    .section-a-1,
    .section-a-2,
    .section-a-3,
    .section-a-4,
    .section-a-5 {
      .section-wrap {
        grid-template-columns: repeat(1, 1fr);
        .section-content-a {
          // padding: 42px;
          padding: 3%;
        }
        .section-content-a,
        .section-content-b {
          margin: auto;
        }
        .section-content-b {
          width: 90%;
          max-width: 770px;
          padding: 3%;
          .card {
            // width: 100%;
          }
        }
      }
    }
  }

  //Section: Langs-2
  .row {
    // Big buttons go into a column
    flex-direction: column;
    align-items: center;
  }
  // Big buttons go 100%
  .col {
    width: 100%;
    padding: 2% 0;
    .main-button-1,
    .main-button-2 {
      width: 90%;
    }
  }

  .row-2 {
    flex-wrap: wrap;
  }
  .col-small {
    padding: 2% 0;
    width: 50%;

    .btn-sq-2 {
      width: 80%;
    }
  }

  // Section: Lang\
  #langs {
    .langs-grid {
      padding: 64px 0;
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
      // display: none;
      .card-lang {
        justify-self: center;
        width: 80%;
        max-width: unset;
        max-height: unset;
        // margin: 0 20px;
        height: auto;
      }
    }
  }

  #langs .langs-grid div:nth-child(odd) {
    justify-self: center;
    width: 80%;
  }
  // Section How to img2 display none
  #spaces {
    .spaces-wrap {
      height: unset;
      .spaces-content {
        .spaces-how-img {
          display: none;
        }
      }
    }
  }
}

// Mobile !!!!!!!!!!!!!!!!!!!!!!!!!!!!
@media (max-width: 600px) {
  // Section First A-1 to A-5
  #sections {
    .section-a-1,
    .section-a-2,
    .section-a-3,
    .section-a-4,
    .section-a-5 {
      .section-wrap {
        .section-content-b {
          display: none;
        }
      }
    }
  }
  // Nav First Icon OFF
  #nav {
    .nav-wrap {
      .nav-right {
        a:nth-child(1) {
          display: none;
        }
      }
    }
  }

  // Langs-2
  .row {
    // Big buttons go into a column
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main-button-2 {
      padding: 24px;
    }
  }
  .col {
    padding: 2% 3%;
    width: 94%;
  }

  .row-2 {
    flex-wrap: wrap;
  }
  .col-small {
    width: 100%;
    padding: 2% 3%;

    .btn-sq-2 {
      width: 90%;
    }
  }
  // Quizz buttons column
  #quiz {
    .quiz-bg-img-wrap {
      .quiz-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .btn-wrap-left,
        .btn-wrap-right {
          width: 80%;
          padding: 20px 10px;
          a {
            width: 70%;
          }
        }
      }
    }
  }

  // Header Title font scaled down x2
  .header {
    .header-content {
      padding: 0px;
      .title-header {
        font-size: 50px !important;
      }
      .header-lead {
        font-size: 20px;
      }
      .s-bar[type="text"] {
        font-size: 16px !important;
        padding-left: 16px !important;
        font-weight: bold;
      }
    }
  }
}
