.container {
  // max-width: $website-width;
  overflow: hidden;
  background-color: inherit;
  margin: auto;
}
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
}

.clr::after {
  content: "";
  clear: both;
  display: table;
}
.logo {
  width: 45px;
  height: 43px;
}

%btn-shared {
  font-size: 18px;
  font-weight: bolder;
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  min-height: 27px;
  min-width: 100px;
  opacity: 0.9;
  transition: all 300ms;

  &:hover {
    opacity: 1;
  }
}

.btn {
  @extend %btn-shared;
  &-sq {
    @extend %btn-shared;
    border-radius: 5px;
    padding: 24px;
    min-width: 218px;
    min-height: 65px;
  }

  &-sq-small {
    @extend %btn-shared;
    border-radius: 5px;
    padding: 6px 18px !important;
  }

  &-sr {
    @extend %btn-shared;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 9.5px 2px;
    margin-left: -5px;
    text-align: center;
    border: none;
  }

  &-spaces {
    @extend %btn-shared;
    border-radius: 25px;
    font-size: 22px;
    height: auto;
    // text-align: center;
    width: 300px;
    // // display: block;
    // margin: 15px auto 18px auto;
    padding: 11px 1px;
  }

  &-quizz {
    @extend %btn-shared;
    border-radius: 5px;
    padding: 70px 50px;
    max-width: 467px;
    height: 52px;
    opacity: 0.97;
    font-size: 35px;
  }
}

// Background
.bg {
  &-gr {
    background: $clr-gr;
    color: set-text-color($clr-gr);
  }

  &-light-green {
    background: $clr-light-green;
    color: set-text-color($clr-light-green);
  }

  &-yw {
    background: $clr-yw;
    color: set-text-color($clr-yw);
  }

  &-pink {
    background: $clr-pink;
    color: set-text-color($clr-pink);
  }

  &-light {
    background: $clr-light;
    color: set-text-color($clr-light);
  }

  &-light-pink {
    background: $clr-light-pink;
    color: set-text-color($clr-light-pink);
  }

  &-light-blue {
    background: $clr-light-blue;
    color: set-text-color($clr-light-blue);
  }

  &-light-pink {
    background: $clr-light-pink;
    color: set-text-color($clr-light-pink);
  }

  &-dark {
    background: $clr-dark;
    color: set-text-color($clr-dark);
  }

  &-white {
    background: $clr-white;
    color: set-text-color($clr-white);
  }
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.padding {
  &-16 {
    padding: 16px;
  }
  &-18 {
    padding: 18px;
  }
  &-20 {
    padding: 20px;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.title-header {
  font-size: 70px;
  font-weight: 700;
}

.header-lead {
  box-sizing: border-box;
  color: $clr-pink;
  font-size: 23px;
  font-weight: 700;
  font-weight: 31px;
  line-height: 34px;
  margin: 20px 0 10px 0;
}

// Search Bar
.s-bar {
  min-width: 360px;
  height: 25.5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 10px 10px 10px 25px;
  border: none;

  &[type="text"] {
    font-size: inherit;
    font-weight: bold;
  }
}

.section-wrap {
  padding: 32px 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
// Headings / Leads
.section-heading {
  font-size: 100px;
  font-weight: 700;
}

.color-heading {
  font-size: 65px;
  font-weight: 700;
  // margin-top: 2px;
  // margin-bottom: -20px;
}

.color-lead {
  font-size: 20px;
  font-weight: 400;
  margin: 25px 0px 10px 0;
}
.spaces-heading {
  font-size: 65px;
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: -20px;
}

.spaces-lead {
  margin-top: 35px;
  font-size: 24px;
  font-weight: 500;
}

.section-lead {
  font-size: 19px;
  font-weight: 700;
  margin: 19.8px 0px;
}

.code-game-heading {
  font-family: "Freckle Face", cursive;
  font-size: 48px;
  font-weight: 400;
}

.code-game-lead {
  font-family: "Freckle Face", cursive;
  font-size: 32px;
  font-weight: 400;
  margin: 10px 0;
}

.quiz-heading {
  font-size: 45px;
  font-weight: 700;
  line-height: 67.5px;
  margin: 10px 0;
}
.quiz-lead {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.temp-heading {
  font-size: 45px;
  font-weight: 700;
  margin: 10px 0;
}

.temp-lead {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

%career-heading {
  font-size: 62px;
  font-weight: 400;
  color: $clr-pink;
  text-transform: none;
}
.career-heading {
  @extend %career-heading;
  margin: 62px 0;
}

.career-lead {
  @extend %career-heading;
  margin: 52px 0;
  font-size: 55px !important;
}

.how-heading {
  font-size: 45px;
  font-weight: 700;
  margin: 10px 0;
}

.how-heading-2 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.how-lead {
  font-size: 16px;
  font-weight: 400;
  margin-top: 19px;
  margin-bottom: 10px;
}
// Header

.header {
  min-height: 600px;
}

.section-wrap {
  margin-top: -10px;
}

span {
  display: block;
  margin-left: 10px;
}

.section-a-3 {
  .section-content-b {
    .card {
      color: #000;

      .code-area {
        color: #000;
      }
    }
  }
}

// Section Langs
// Card
.card-lang {
  border-radius: 5px;
  .langs-heading {
    font-size: 45px;
    font-weight: 700;
    color: #000;
    margin: 10px 0px;
    text-transform: none;
  }

  .langs-lead {
    font-size: 18px;
    font-weight: 400;
    color: #3a3a3a;
    margin: 10px 0px;
  }
}

// Section Langs 2
//

#langs-2 {
  // Grid Order - Span
  .langs-card-2:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    min-width: 594px !important;
    min-height: 65px !important;
  }

  .langs-card-2:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    min-width: 594px !important;
    min-height: 65px !important;
  }

  .langs-card-2:nth-child(35) {
    grid-column: 1 / span 2;
    min-width: 594px !important;
    min-height: 65px !important;
  }
  .langs-card-2:nth-child(36) {
    grid-column: 3 / span 2;
    min-width: 594px !important;
    min-height: 65px !important;

    background: $clr-yw !important;
  }
  .langs-card-2:nth-child(37) {
    grid-column: 1 / span 2;
    min-width: 594px !important;
    min-height: 65px !important;

    background: $clr-pink !important;
  }
  .langs-card-2:nth-child(38) {
    grid-column: 3 / span 2;
    min-width: 594px !important;
    min-height: 65px !important;
  }

  // Colors
  .langs-card-2:nth-child(5n + 1) {
    background: $clr-pink;
  }
  .langs-card-2:nth-child(5n + 2) {
    background: $clr-yw;
  }
  .langs-card-2:nth-child(5n + 3) {
    background: $clr-light;
  }
  .langs-card-2:nth-child(5n + 4) {
    background: $clr-light-green;
  }
  .langs-card-2:nth-child(5n + 5) {
    background: $clr-light-blue;
  }
}

// Section: Code Editor
.code-editor-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  // display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
}

.title-code {
  margin-top: 2px;
  // margin-bottom: 20px;
  font-size: 65px;
  font-weight: 900;
}

.lead-code {
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 10px;
}

// Color on dots
.code-editor-left {
  span:nth-child(1) {
    background-color: #ed594a;
  }
  span:nth-child(2) {
    background-color: #fdd800;
  }
  span:nth-child(3) {
    background-color: #5ac05a;
  }
}

// Code Editor
.code-editor {
  &-content {
    margin: auto;
    box-sizing: border-box;
    // btns
    .grid-col {
      text-align: left !important;
      height: auto;
      span {
        margin-left: 0;
      }
    }
  }
  &-row {
    padding: 10px;
    background: #f1f1f1;
    height: 26.5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &-left {
    float: left;
    width: 20%;
  }
  &-center {
    display: inline-block;
    width: 80%;
  }
  &-center-input {
    width: 80%;
    float: left;
    border: none;
    outline: 0;
    border-radius: 3px;
    padding: 5px;
    color: #666;
    font-weight: 600;
  }
  // Code Editor Bar

  &-bar {
    height: 41px;
    background: #f1f1f1;
    width: 100%;

    &-item {
      height: 100%;
      float: left;
      font-size: 16px;
      font-weight: 700;
      padding: 8px 16px;
      // on active color to e7e9eb
      border: none;
      outline: 0;
      cursor: pointer;

      &:focus {
        background: #e7e9eb;
      }
    }
  }
  &-frontend {
    img {
      height: auto;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  &-backend {
    display: none;
  }
}
.pos-relative {
  position: relative;
}
// figure
// .figure {
//   border-left: 50px solid #282a35;
//   background-color: #282a35;
//   height: 80px;
//   position: absolute;
//   top: -6px;
//   left: 50%;
//   width: 50px;
//   height: 80px;
//   margin-left: -25px;
//   height: 200px;
//   display: block;
//   z-index: ;
// }

// Footer
.brands {
  padding: 8px 16px;
  border-radius: 5px;
  .fa-brands {
    color: #fff;
  }
  &:hover {
    background-color: #fff;
    .fa-brands {
      color: #000;
    }
  }
}
