@import "config";
@import "utilities";

// General Styles
* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
// ..
html,
body {
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  background: #fff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.main-text {
  font-family: "Gravitas One";
}

// Navigation
#nav {
  .nav-wrap {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .nav {
      height: 75px;
      &-left {
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-mobile {
          // display: none;
        }

        ul {
          display: flex;
          font-size: 18px;
          font-weight: 600;

          li {
            a {
              flex-wrap: nowrap;
            }
            flex-wrap: nowrap;
            padding: 24px 16px;
            transition: all 200ms;
            &:hover {
              background: $clr-gr;
            }
          }
        }
      }

      &-right {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn:nth-child(4) {
          min-width: 0px !important;
        }

        .btn:last-child {
          margin-right: 0;
        }

        i {
          transition: all 200ms;
          &:hover {
            color: $clr-gr;
          }
        }

        a {
          margin-right: 16px;
        }
      }
    }
  }
}

// Header
.header {
  height: 50vh;
  padding: 90px 0;
  box-sizing: border-box;

  &-content {
    box-sizing: border-box;

    padding: 0 90px;
    margin: 0 13px;
  }
  &-content {
    .sr-link {
      margin-top: 30px;
      a {
        font-size: 23px;
        font-weight: 700;
        color: #fff;
        text-decoration-line: underline;
        &:hover {
          color: $clr-gr;
        }
      }
    }
  }
}

.sr-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;

  .s-bar {
    outline: none;
    &::placeholder {
      font-size: 16px;
      font-weight: bold;
    }

    &:focus {
      border-bottom-left-radius: 0px;
      border: none;
    }
  }
}

//Sections
#sections {
  .section-wrap {
    overflow: hidden;
    margin-top: -10px;
    min-height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    // Section Content: A
    .section-content-a {
      padding: 42px;
      padding-right: 200px;
      // width: 451px;
      // margin-left: 200px;
      // justify-self: right;

      a {
        min-width: 170px;
        max-width: 170px;
        margin: auto;
        display: block;
        margin-bottom: 20px;
      }
    }

    // Section Content: B
    .section-content-b {
      padding: 42px;
      max-height: 400px;
      max-width: 620px;
      width: 100%;
      .card {
        height: 100%;
        padding: 16px;
        background: #e7e9eb;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);

        .btn {
          width: 170px;
        }

        .card-heading {
          font-size: 24px;
          font-weight: 700;
          margin: 10px 0;
          text-transform: none;
        }
        .code-area {
          border-left: 4px $clr-gr solid;
          width: 95%;
          height: 65%;
          margin: auto;
          background: #fff;
          padding: 8px 12px;
          margin: 16px 0px;
        }
      }
    }
  }
}

// Section Lang
#langs {
  .container {
    overflow: hidden;
  }
  .langs-grid {
    margin: auto;
    text-align: center;
    display: grid;
    padding: 80px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    align-content: center;
    grid-gap: 56px 84px;
    margin: auto;

    div:nth-child(odd) {
      // background-color: #000;
      justify-self: right;
      width: 91.5%;
    }

    .card {
      &-lang {
        height: 216px;
        max-width: 570px;
        padding: 24px;
        align-items: center;
        text-align: center;

        .btn {
          min-width: 170px;
          max-width: 170px;
        }
      }
      &-wrap {
        padding: 2% 3%;
        height: 100%;
      }
    }
  }
}

// Langs-2 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.langs-2-wrap {
  box-sizing: border-box;
  max-width: 1400px;
  margin: auto;
  padding: 0px 10px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.row-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  justify-items: center;
  flex-wrap: nowrap;
  // !
}

.col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
  // padding: 2% 3%;
}

.col-small {
  display: flex;
  flex-direction: column;
  width: 25%;
  //
  padding: 28px 0px;
  // padding: 2% 3%;

  justify-content: center;
  align-items: center;
}

// Main Button
.main-button-1,
.main-button-2 {
  padding: 36px 24px;
  // background-color: $clr-pink;
  border-radius: 5px;
  width: 85%;
  color: #000;
  h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: #000;
    line-height: 45px;
  }
}

.btn-sq-2 {
  padding: 24px;
  border-radius: 5px;
  // background-color: $clr-pink;
  width: 70%;
  display: block;
  //  link
  h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: #000;
    line-height: 45px;
  }
}

// Section: Code Editor
#code-editor {
  padding: 30px 16px 85px 16px;
  // min-height: 80vh;
  // Code Editor ROW
  .container {
    max-width: 942px;
  }
}

// Experiment
#spaces {
  box-sizing: border-box;
}
.spaces-wrap {
  box-sizing: inherit;
  position: relative;
  height: 762px;
  background: url(../../img/spaces.jpg) no-repeat fixed center;
  color: #fff;
  padding: 85px 20px;
}

.spaces-wrap:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.96;
  background-color: #282a35;
}

.spaces-content {
  position: relative;
  .spaces-how-img {
    height: 300px;
    max-width: 1082px;
    margin: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

// Section: Color Picker
#color-picker {
  box-sizing: border-box;
  .color-content {
    // height: 30vh;
    padding: 78px 0px 95px 0px;
    overflow: hidden;
    // width: $website-width;
    a {
      transition: all 100ms;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// Section: Code Game
#code-game {
  // background-color: $clr-light-blue;
  // height: 70vh;
  padding: 40px 0;

  .code-game-wrap {
    padding: 3%;

    img {
      width: 120px;
      height: 200px;
      justify-self: center;
      display: block;
      margin: 16px auto;
      &:hover {
        opacity: 0.5;
      }
    }
    .btn {
      font-size: 18px;
      // background-color: #282a35;
      width: 168px;
      opacity: 1;
      transition: all 0s;

      &:hover {
        background-color: #000;
      }
    }
  }
}

// Section: Quiz

#quiz {
  .quiz-bg-img-wrap {
    background-color: #232434;
    color: #fff;
    padding: 64px 0 80px 0;
    background-image: url(../../img/w3codes.png);
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    // height: 60vh;
    width: 100%;

    .quiz-content {
      max-width: 1300px;
      // padding: 0 8px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-wrap-left {
        padding: 50px;
        //
        width: 100%;
        a {
          width: 80%;
        }
      }
      .btn-wrap-right {
        padding: 50px;
        //
        width: 100%;
        a {
          width: 80%;
        }
      }
    }
  }
}

// Section: Templates

#temp {
  .temp-wrap {
    padding: 64px 24px 90px 24px;
    max-width: 980px;
    margin: auto;
    img {
      margin: 16px 0 20px 0;
    }
    .btn-spaces {
      width: 95%;
      transition: all 0s;
      opacity: 1;
      &:hover {
        background-color: #000;
      }
    }
  }
}

// Section: Career
#career {
  .career {
    &-wrap {
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 60px 50px 60px;
      margin-bottom: 85px;
      .btn {
        box-sizing: border-box;
        text-align: center;
        padding: 17px 55px;
        border-radius: 55px;
        font-size: 18px;
      }
    }
  }
}

// Section: How to
#how {
  text-align: center;
  .how-wrap {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0px 24px 0px 24px;
    max-width: 980px;
    margin: auto;
    .img {
      &-body {
        background-color: #e3e6e8;
        height: 360px;
        .dots {
          padding-top: 10px;
          .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            &:hover {
              background-color: #717171;
            }
          }
        }
      }
      &-frame {
        box-sizing: border-box;
        width: 100%;
        border: 6px solid #e3e6e8;
        height: 400px !important;
        background-color: #e3e6e8;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        img {
          max-width: 920px;
          height: auto;
        }
      }
    }

    .figure {
      border-left: 50px solid #282a35;
      height: 80px;
      // width: 50px;
      height: 80px;
      margin-left: -25px;
      position: absolute;
      height: 80px;
      // display: block;
      top: 40px;
      left: 50%;
    }
    .btn {
      margin: 120px auto;
      padding: 16px;
      width: 50%;
      opacity: 1;
      transition: all 0s;
      &:hover {
        background-color: $clr-gr;
      }
    }
  }
}

// Footer
#footer-main {
  // height: 60vh;
  .footer-wrap {
    height: 100%;
    padding: 32px 16px;
    .container {
      &-row {
        .items-left {
          .btn-sq-small {
            padding: 8px 16px;
            white-space: nowrap;
            min-width: unset !important;
            min-height: unset !important;
            vertical-align: middle;
            text-align: center;
            line-height: 1.5;
            margin-top: -9px;
            margin-left: 12px;
            font-size: 17px;
            opacity: 1;
            &:hover {
              background-color: $clr-light;
            }
          }
        }
        .items-right {
          float: right;
          a {
            color: #fff;
            font-weight: 600;
          }
          a:hover {
            color: $clr-gr;
          }
        }

        // display: flex;
        justify-content: space-between;
        padding: 32px 16px;
      }
      &-icons {
        padding: 0.15px 16px;
        // display: flex;
        float: right;
        justify-content: end;
      }
      &-text {
        margin: 18px 0;
        a {
          color: #fff;
          text-decoration: underline;
          &:hover {
            color: $clr-gr;
          }
        }
      }
    }
    .like {
      display: block;
      margin: auto;
      .fa-regular {
        color: #fff;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

// Import Media Queries
@import "media";
