@import "config";
@import "utilities";

// General Styles
* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
// ..
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  background: #fff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.main-text {
  font-family: "Gravitas One";
}

// Navigation
#nav {
  .container {
    display: flex;
    justify-content: space-between;

    .nav {
      height: 75px;
      &-left {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          font-size: 18px;
          font-weight: 600;

          li {
            padding: 24px 16px;
            transition: all 200ms;
            &:hover {
              background: $clr-gr;
            }
          }
        }
      }

      &-right {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn:nth-child(4) {
          min-width: 0px !important;
        }

        .btn:last-child {
          margin-right: 0;
        }

        i {
          transition: all 200ms;
          &:hover {
            color: $clr-gr;
          }
        }

        a {
          margin-right: 16px;
        }
      }
    }
  }
}

// Header
.header {
  height: 50vh;
  padding: 90px 0;
  box-sizing: border-box;

  &-content {
    box-sizing: border-box;

    padding: 0 90px;
    margin: 0 13px;
  }
}

.sr-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;

  .s-bar {
    outline: none;
    &::placeholder {
      font-size: 16px;
      font-weight: bold;
    }

    &:focus {
      border-bottom-left-radius: 0px;
      border: none;
    }
  }
}

//Sections
#sections {
  .section-wrap {
    margin-top: -10px;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    // Section Content: A
    .section-content-a {
      padding: 43px;
      min-width: 450px;
      margin-left: 200px;

      a {
        min-width: 170px;
        max-width: 170px;
        margin: auto;
        display: block;
        margin-bottom: 20px;
      }
    }

    // Section Content: B
    .section-content-b {
      padding: 43px;
      max-height: 400px;
      max-width: 620px;
      min-width: 450px;
      .card {
        height: 100%;
        padding: 16px;
        background: #e7e9eb;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);

        .btn {
          width: 170px;
        }

        .card-heading {
          font-size: 24px;
          font-weight: 700;
          margin: 10px 0;
          text-transform: none;
        }
        .code-area {
          border-left: 4px $clr-gr solid;
          width: 95%;
          height: 65%;
          margin: auto;
          background: #fff;
          padding: 8px 12px;
          margin: 16px 0px;
        }
      }
    }
  }
}

// Section Lang
#langs {
  .langs-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 50px;
    padding: 80px;

    .card {
      &-lang {
        &:nth-child(2n + 1) {
          // margin-left: 150px;
        }
        &:nth-child(2n + 2) {
          // margin-right: 150px;
        }
        min-height: 225px;
        min-width: 570px;
        padding: 24px;
        align-items: center;
        text-align: center;

        .btn {
          min-width: 170px;
          max-width: 170px;
        }
      }
    }
  }
}

// Section Lang 2
#langs-2 {
  padding: 32px 250px;
  padding-bottom: 64px !important;
  .langs-grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    justify-items: center;
    grid-gap: 70px 40px;
    text-align: center;
    background: $clr-dark !important;

    .langs-card-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-width: 232px;
      min-height: 65px;
      font-size: 30px;
    }
  }
}

// Section: Code Editor
#code-editor {
  padding: 30px 3px 85px 3px;
  min-height: 80vh;
  // Code Editor ROW
  .container {
    max-width: 942px;
  }
  .code-editor {
    &-content {
      margin: auto;
      box-sizing: border-box;
      // btns
      .grid-col {
        text-align: left !important;
        height: auto;
        span {
          margin-left: 0;
        }
      }
    }
    &-row {
      padding: 10px;
      background: #f1f1f1;
      height: 26.5px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &-left {
      float: left;
      width: 20%;
    }
    &-center {
      display: inline-block;
      width: 80%;
    }
    &-center-input {
      width: 80%;
      float: left;
      border: none;
      outline: 0;
      border-radius: 3px;
      padding: 5px;
      color: #666;
      font-weight: 600;
    }
    // Code Editor Bar

    &-bar {
      height: 41px;
      background: #f1f1f1;
      width: 100%;

      &-item {
        height: 100%;
        float: left;
        font-size: 16px;
        font-weight: 700;
        padding: 8px 16px;
        // on active color to e7e9eb
        border: none;
        outline: 0;
        cursor: pointer;

        &:focus {
          background: #e7e9eb;
        }

        &:active {
          #frontend {
            // display: none;
          }
        }
      }
    }
    &-frontend {
      img {
        height: auto;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    &-backend {
      display: none;
    }
  }
}

// Experiment
#spaces {
  box-sizing: border-box;
}
.spaces-wrap {
  box-sizing: inherit;
  position: relative;
  height: 762px;
  background: url(../../img/spaces.jpg) no-repeat fixed center;
  color: #fff;
  padding: 85px 20px;
}

.spaces-wrap:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.96;
  background-color: #282a35;
}

.spaces-content {
  position: relative;
  .spaces-how-img {
    max-width: 50%;
    margin: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
